@{
    Layout = null;
}
@model Exam_LM.Models.articuloModel
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="widht=device-widht"/>
        <title>Index</title>
    </head>
    <body>
        <h1>Hola Mundo!!</h1>
        <br />
        <form asp-action="Page2" method="post">
            <label>Nombre:</label> <input asp-for="nombre" />

            <label>Precio:</label> <input asp-for="precio" />

            <label>Iva</label> <input asp-for="iva" />

            <label>Cantidad</label> <input asp-for="cantidad" />
            <button type="submit">Submit</button>
        </form>
        <br />
        <a href="@Url.Action("Page2","Home")">Ir a Pagina 2</a>
    </body>
</html>