@{
    Layout = null;
}
@model Examen2.Models.CRUD

    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Administrador de inventarios</title>
    </head>
    <body>
        <div class="container mt-5">
            <h1>Ingresa los datos</h1>
            <br><br>
            <div class="row">
                <div class="col-sm">
                    <form asp-action="Insertar" method="post">
                        <div class="form-group">
                            <label>Nombre:  </label> <input asp-for="Nombre" />
                            <br />
                            <label>Precio:  </label> <input asp-for="Precio" />
                            <br />
                            <label>Iva:     </label> <input asp-for="Iva" />
                            <br />
                            <label>Cantidad:</label> <input asp-for="Cantidad" />
                            <br />
                            <button class="btn btn-primary" type="submit">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <a class="btn btn-secondary" href="@Url.Action("Index","Home")">Volver al Menu</a>
        </div>
    </body>
</html>