@{
    Layout = null;
}
@model Examen2.Models.Login
<!DOCTYPE html>

<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <br>
        @if (ViewBag.start == 1) // Mostrar el Login
        {
            <h1>Login</h1>
            <br>
            <form asp-action="Index" method="post">
                <input asp-for="email" placeholder="Email" />
                <br /><br />
                <input asp-for="password" type="password" placeholder="Contraseña" />
                <br /><br />
                <input asp-for="modo" type="hidden" value=-1 />
                <button class="btn btn-secondary" type="submit">Entrar</button>
            </form>
            if (ViewBag.login_failed == 1)
            {
                <script>
                    alert('Correo o contraseña incorrectos')
                </script>

            }
        }
        else // Mostrar el Menu
        {
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><h1>Sesion Iniciada, bienvenido @ViewBag.name</h1></th>
                            <th scope="col"><a class="btn btn-dark" href="@Url.Action("LogOut","Home")">Cerrar Sesion</a></th>

                        </tr>
                    </thead>
                </table>
            </div>
            <br /><br />
            <a class="btn btn-secondary" href="@Url.Action("Añadir","Home")">Añadir</a>
            <br />
            <br />
            <form asp-action="Visualizar" method="post">
                <input asp-for="modo" type="hidden" value=1 />
                <input class="btn btn-secondary" type="submit" value="Ver Todos" />
            </form>
            <br />
            <form asp-action="Visualizar" method="post">
                <input asp-for="modo" type="hidden" value=2 />
                <input class="btn btn-secondary" type="submit" value="Actualizar" />
            </form>
            <br />
            <form asp-action="Visualizar" method="post">
                <input asp-for="modo" type="hidden" value=3 />
                <input class="btn btn-secondary" type="submit" value="Eliminar" />
            </form>
            switch (ViewBag.r) // Saber que alert mostrar segun el resultado
            {
                case 1:
                    <script>
                        alert('Se añadio el artículo con exito')
                    </script>
                    break;
                case 2:
                    <script>
                        alert('No se pudo añadir el articulo')
                    </script>
                    break;

                case 3:
                    <script>
                        alert('Se actualizó el artículo con exito')
                    </script>
                    break;
                case 4:
                    <script>
                        alert('No se pudo actualizar el articulo')
                    </script>
                    break;

                case 5:
                    <script>
                        alert('Se eliminó el artículo con exito')
                    </script>
                    break;
                case 6:
                    <script>
                        alert('No se pudo eliminar el articulo')
                    </script>
                    break;


            }
        }

    </div>
</body>
</html>