@{
    Layout = null;
}
@model Examen2.Models.Login

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pais PIA</title>
</head>
<body>
    <div class="container mt-5">

        @if (ViewBag.result == 1)
        {
            <h1>Se actualizo el artículo con exito</h1>
        }
        else
        {
            <h1>No se pudo actualizar el articulo</h1>
        }

        <br>
        <form asp-action="Index" method="post">
            <input asp-for="email" type="hidden" value=@ViewBag.email />
            <input asp-for="password" type="hidden" value=@ViewBag.pass />
            <input class="btn btn-secondary" type="submit" value="Volver a menu" />
        </form>
    </div>
</body>
</html>